# Binários
kubectl
minikube

# Kubernetes
*.kubeconfig

# Helm charts baixados
*.tgz

# Chaves SSH (NUNCA commite chaves privadas!)
k8s/airflow/airflow_gitsync_id_rsa
*.pem
*.key

# Python
__pycache__/
*.py[cod]
venv/
.pytest_cache/

# IDEs
.vscode/
.idea/